# Copyright 2022 Manna Harbour
# https://github.com/manna-harbour/miryoku

name: 'Build Example corne nice_nano display'
on: workflow_dispatch
jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      board: '["nice_nano_v2"]'
      nav: '["vi"]'
      alphas: '["QWERTY"]'
      shield: '["corne_left nice_view_adapter nice_view","corne_right nice_view_adapter nice_view"]'
      kconfig: '["CONFIG_ZMK_MOUSE=y\nCONFIG_ZMK_BLE_EXPERIMENTAL_CONN=y"]'
      branches: '["petejohanson/zmk/feat/pointers-move-scroll"]'
